{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1> {{ program.title}} </h1>
        <h2>Saison {{ season.number }}<br>
            Episode {{ episode.number }} : {{ episode.title }}</h2>
        <p>{{ episode.synopsis }}</p>

        <h2>Commentaires</h2>
        <table class="table">
            <tbody>
            {% for comment in comments %}
                <tr>
                    <th>Commentaire de {{ comment.user.email }}</th>
                    <td>{{comment.comment}}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>{{comment.rate}}/5</td>
                </tr>
                {% if app.user is not null %}
                    {% if is_granted('ROLE_ADMIN') or comment.user.id is same as app.user.id %}
                    <tr>
                        <td>{{ include('program/_delete_episode_show_comment.html.twig') }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <h3>Ajouter un commentaire</h3>
        {% if is_granted('ROLE_CONTRIBUTOR') %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
        {% else %}
            <p>Veuillez <a href="{{ path('login') }}">vous connecter</a> pour poster un commentaire.</p>
        {% endif %}

        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}