{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.id }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ season.description }}</h1>
            {% for episode in episodes %}
                <h2>{{ episode.title }}</h2>
                <p>{{ episode.synopsis }}</p>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}