{% extends 'base.html.twig' %}

{% block title %}Série {{ program.id }}{% endblock %}

{% block body %}
    <div class="container">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <h2 class="mt-0">Saisons</h2>
            {#  {% for season in program.season %}
                <h3>{{ season.description }}</h3>
                <a href="{{ program.id }}/seasons/{{ season.number }}"> Saison {{ season.number }}</a>
            {% endfor %} #}
        </div>
        <div>
            <strong>Acteurs :</strong>
            <ul>
                {% for actor in program.actors %}
                <a href="{{ path('actor_show', {'id': actor.id}) }}"><li>{{ actor.firstname }} {{ actor.lastname}} </li></a>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}