{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <div class="container">
        <div class="media">
            <div class="media-body">
                <h1 class="mt-0">{{ actor.firstname }} {{ actor.lastname }}</h1>
                <h2>Ses séries :</h2>
                <ul>
                    {% for program in actor.programs %}
                        <a href="{{ path('program_show', {'id': program.id}) }}"><li> {{ program.title }} </li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="{{ path('actor_index') }}">
            Retour à la liste des acteurs
        </a>
    </div>
{% endblock %}