<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_index') }}">Wild Series</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Langues
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/fr">FR</a></li>
                        <li><a class="dropdown-item" href="/en">EN</a></li>
                    </ul>
                </li>
            </ul>
            {% if app.user %}
                {% trans with {'%username%': app.user.email} %}
                    hello_username
                {% endtrans %} !
                <a href="{{ path('profile_show') }}">{{ 'account.profile'|trans }}</a>
                <a href="{{ path('app_logout') }}">{{ 'account.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('register') }}">{{ 'account.register'|trans }}</a>
                <a href="{{ path('login') }}">{{ 'account.login'|trans }}</a>
            {% endif %}
        </div>
    </div>
</nav>